.env

# config files with API keys
*.toml
!*.example.toml

#
# tools and IDEs
.vscode/
.ra-aid/
.local/

.aider*
!.aider.conf.yml

# build results
news
/story-extractor
/ui-server

# test results
coverage.out

# os specifics
.DS_Store

